@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
body {
  background: #5171ca36;
}

.App-header {
  margin: 10px 0;
}

.App-footer {
  font-size: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c1cfc92c;
  text-align: center;
}
.App a {
  display: -ms-inline-flexbox;

  color: #5171ca;
  text-decoration: none;
}
.App a:hover {
  color: #a12e2e98;
  transition: ease-in-out;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
